<form action="{% url 'blog:post_search' %}" method="get">
    <input type="text" name="query" required placeholder="عبارت مورد نظر را جستجو کنید">
    <input type="submit" value="جستجو">
    {% if request.user.is_authenticated %}
        <a href="{% url 'blog:profile' %}">
            {{ request.user.first_name|default:request.user.username }}
        </a>
    {% else %}
        <a href="{% url 'blog:login' %}">
            ورود
        </a>
        <a href="{% url 'blog:register' %}">
            ثبت نام
        </a>
    {% endif %}

    <a href="{% url 'blog:index' %}">
        صفحه اصلی
    </a>
    <a href="{% url 'blog:post_list' %}">
        لیست پست ها
    </a>
</form>

